<div class="title-container text-light">
  <h1>Bot Posts</h1>
</div>

<table class="table table-sm table-striped table-dark">
  <thead>
    <tr>
      <th> Username </th>
      <th> Message </th>
    </tr>
  </thead>
  <tbody>
    <div class="posts">
      <% @posts.each do |post| %>
      <div class="post">
        <div class="thumbnail">
          <div class="caption text-light">
              <tr>
                <td> <%= post.username %> </td>
                <td> <%= post.msg %> </td>
              </tr>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </tbody>
</table>