@import "bootstrap";

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	h1 {
		margin: 0;
	}
}

.print_log {
	overflow: hidden;
}

.printers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.printer {
	width: 30%;
	min-width: 300px;
	margin-bottom: 40px;
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    overflow-y: auto; 
    height: 600px;
}

.fixed_header tbody {
	width: 100%;
	overflow: auto;
	height: 600px;
}

.fixed_header thead tr {
	display: block;	
}

.fixed_header thead {
	background: black;
	color: #fff;
}

.fixed_header th,
.fixed_header td {
	width: 100%;
	padding: 8px 16px; 
	float: left;
}

.fixed_header th {
	
}